# Entornos Virtuales
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local de Django
db.sqlite3
db.sqlite3-journal

# Variables de entorno y secretos
.env
*.env
.env.local

# Archivos de editores de código (VSCode, etc.)
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y distribución
*.log
dist/
build/